@media (max-width: 935px) {
    .sidebar {
      display: none;
    }
    .conteudo {
      width: 614px;
      align-items: center;
    }
    .desktop {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  
  @media (max-width: 614px) {
    .desktop {
      display: none;
    }
    .header {
      display: flex;
      justify-content: center;
    }
    .logo-mobile {
      width: 650px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 14px;
      margin-bottom: 16px;
      margin-left: 45px;
    }
    .mobile {
      display: flex;
    }
    .posts {
      height: auto;
    }
    .box-story ion-icon {
      display: none;
    }
  }