.posts {
    margin-top: 24px;
    width: 614px;
  }
  .post {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
    height: 749px;
    margin-bottom: 60px;
  }
  .posts img:nth-child(2) {
    height: 612px;
    width: 612px;
    object-fit: cover;
  }
  .post-top {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-top-name {
    margin-left: 17px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .ellipsis {
    margin-right: 17px;
    color: black;
  }
  .post-bottom {
    padding: 0px 17px 10px 17px;
    font-size: 14px;
    /* background-color: blue; */
  }
  .post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
  }
  .icons-left ion-icon {
    margin-right: 10px;
  }
  .post-like {
    display: flex;
    height: 20px;
    margin-bottom: 5px;
    align-items: center;
  }
  .post-like P {
    margin-left: 5px;
  }
  strong {
    font-weight: 500;
  }
  .post-like img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }